:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
ul li {
    list-style: none;
}
mat-drawer-container{
    height: 100%;
}

mat-drawer-content {
    padding: 20px;
}

footer {
    padding: 20px;
    height: 60px;
}

mat-icon{
    vertical-align: middle;
}

mat-toolbar{
    top: fixed;
}
mat-card-content{
    height: 200px;
}